* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #FAF9F6;
}

.main-flexbox-container {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.main-flexbox-container div {
    margin: 0;
    max-height: 100vh;
    padding: 0;
}

/* LISTS NAVIGATION SIDE (LEFT) */

.list-navigation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 45vw;
    height: 100vh;
    background-color: #000000;
    color: #FAF9F6;
}

.lists {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    row-gap: 5px;
    margin: 0;
    border: 1px solid #FFFFFF;
    height: 40vh;
    max-height: 50vh;
    width: 28vw;
    overflow: scroll;
}

.list-item {
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    transition: 0.2s;
}

.list-item:hover {
    background-color: #3b3b3b;
    cursor: pointer;
}

.list-item:active {
    background-color: #e8e8e8;
}

.list-item p {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

/* TASKS SIDE (RIGHT) */

.tasks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 55vw;
    height: 100vh;
    background-color: #FAF9F6;
    color: #000000;
}


.tasks-inner-div {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    row-gap: 8px;
    margin: 0;
    border: 1px solid #000000;
    height: 40vh;
    max-height: 50vh;
    width: 32vw;
    overflow: scroll;
}

.task-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f2f0e6;
    border-radius: 50px;
    transition: 0.2s;
}

.task-item:hover {
    background-color: #e9e3cd;
}

.task-item .checkbox {
    width: 3.5vw;
    height: 90%;
    border: 3px solid #beb79f;
    border-radius: 50px;
    align-self:center;
    margin-left: 3.5px;
    transition: 0.2s;
}

.task-item .checkbox:hover {
    background-color: #887f61;
    border-color: #FFFFFF;
    cursor: pointer;
}

.task-item .checkbox:active {
    background-color: #e8e8e8;
}

.task-item p {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    width: 27vw;
}

